{% extends "base.html" %} <!--tells to Use base.html as my parent template.-->>

{% block title %}
    Home | StackUnderflow
{% endblock %}

{% block content %}

    <main class="min-h-screen flex items-center justify-center px-6">

        <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900">
                Welcome to StackUnderflow
            </h1>

            <p class="mt-4 text-lg text-gray-600">
                A programming Q&A community built for developers.
            </p>
        </div>

    </main>

{% endblock %}