{% load tailwind_tags %} <!--loads the Tailwind template tags provided by django-tailwind. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>StackUnderflow</title>

    {% tailwind_css %} <!--Include our Tailwind CSS here.-->
</head>

<body class="bg-gray-100">

    <h1 class="text-4xl font-bold text-blue-600">
        Welcome to StackUnderflow!
    </h1>

    <p class="mt-4 text-gray-700">
        My Django project is working with Tailwind CSS.
    </p>

</body>
</html>